[submodule "Application"]
	path = Application
	url = https://github.com/pelissi/aSenseApplication
	branch = master
[submodule "Abstraction"]
	path = Abstraction
	url = https://github.com/pelissi/Abstraction
[submodule "Common"]
	path = Common
	url = https://github.com/pelissi/Common
[submodule "SubLibs/AtesLib"]
	path = SubLibs/AtesLib
	url = https://github.com/pelissi/AtesLib
[submodule "SubLibs/UBlox"]
	path = SubLibs/UBlox
	url = https://github.com/pelissi/UBlox
[submodule "SubLibs/Mavlink_c_library_v2"]
	path = SubLibs/Mavlink_c_library_v2
	url = https://github.com/mavlink/c_library_v2
